# Godot 4+ specific ignores
.godot/
/android/
addons/godot_super-wakatime/api_key_prompt.tscn
addons/godot_super-wakatime/decompressor.gd
addons/godot_super-wakatime/decompressor.gd.uid
addons/godot_super-wakatime/godot_super-wakatime.gd
addons/godot_super-wakatime/godot_super-wakatime.gd.uid
addons/godot_super-wakatime/LICENSE
addons/godot_super-wakatime/plugin.cfg
addons/godot_super-wakatime/README.md
addons/godot_super-wakatime/utils.gd
addons/godot_super-wakatime/utils.gd.uid
assets/addons/Bitmask references gif.gif
assets/Bitmask references gif.gif
assets/Grass.png
assets/Grass.png.import
assets/healthbarProgress.png
assets/healthbarProgress.png.import
assets/healthbarUnder.png
assets/healthbarUnder.png.import
assets/Hills.png
assets/Hills.png.import
assets/Sci-Fi-Dungeon.png
assets/Sci-Fi-Dungeon.png.import
assets/Water.png
assets/Water.png.import
sounds/blaster.ogg
sounds/blaster.ogg.import
sounds/blaster_repeater.ogg
sounds/blaster_repeater.ogg.import
sounds/enemy_attack.ogg
sounds/enemy_attack.ogg.import
sounds/enemy_destroy.ogg
sounds/enemy_destroy.ogg.import
sounds/enemy_hurt.ogg
sounds/enemy_hurt.ogg.import
sounds/jump_a.ogg
sounds/jump_a.ogg.import
sounds/jump_b.ogg
sounds/jump_b.ogg.import
sounds/jump_c.ogg
sounds/jump_c.ogg.import
sounds/land.ogg
sounds/land.ogg.import
sounds/walking.ogg
sounds/walking.ogg.import
sounds/walking.ogg.sfk
sounds/weapon_change.ogg
sounds/weapon_change.ogg.import
addons/godot_super-wakatime/counter.tscn
assets/Sci-Fi-Dungeon.png
assets/Sci-Fi-Dungeon.png.import
assets/Sci-Fi-Dungeon.png.import
